.Button
{
	-fx-background-color:#c0edd7;
	-fx-text-color: #000000;
}
.Button:hover
{
	-fx-background-color: #86bda1;
} 

.root
{
	-fx-background-color: #dfebe5;
	-fx-border-color: #f90230;
}
.BackButton
{
	-fx-padding: 10 10 10 10;
        -fx-position: absolute; 
        -fx-vertical-align: middle;
}
                     
.BackButton:hover
{
        -fx-padding: 10 10 10 10; 
        -fx-letter-spacing: 3;
        -fx-vertical-align: middle;
        -fx-position: absolute;
	-fx-background-color: #bab1b1;
}

.Text
{
	-fx-font-family: serif;
	-fx-text-color: #000000;
	-fx-background-color: #fafafa;
}.Button{
 -fx-padding: 10 10 10 10; -fx-vertical-align: middle; -fx-position: absolute;-fx-background-color: #e64d4d;

}
.Button:hover{
 -fx-padding: 10 10 10 10; -fx-letter-spacing: 2; -fx-vertical-align: middle; -fx-position: absolute;
}
.root{
-fx-background-color: #ff9980;
-fx-background-color: #9980e6;

}
.BackButton:hover{
 -fx-padding: 10 10 10 10; -fx-letter-spacing: 2; -fx-vertical-align: middle; -fx-position: absolute; 
}
.BackButton{
 -fx-padding: 10 10 10 10; -fx-position: absolute; -fx-vertical-align: middle;
}
.Text{
 
}
